*{
  margin: 0;
  padding: 0;
}

html,
body{
  width: 100vw;
  height: 100vh;
}


table,
th,
td{
  border: 1px solid rgba(202, 17, 17, 0.667);
}

table{
  width: 87vw;
  border-collapse: collapse;
  table-layout: fixed;
}

.info-list-wrapper{
  height: 98vh;
  margin: 24px;
  font-family: HarmonyOS Sans SC;
}

.info-list-wrapper .info-list-content{
  font-size: 14px;
  line-height: 21px;
  color: #00000099;
}

.info-list-wrapper .list-item{
  margin-bottom: 16px;
}

.info-list-table{
    font-size: 12px;
}

.info-list-table .th-1{
  width: 14%;
}
.info-list-table .th-2{
  width: 20%;
}
.info-list-table .th-3{
  width: 17%;
}

.info-list-table td{
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
.info-list-table td p{
  /* display: block; */
  text-align: left;
}

.info-list-table td div{
  word-wrap:break-word;
  text-align: left;
}

th{
  line-height: 18px;
  text-align: center;
  background-color: #f1f3f5;
  padding: 8px;
}

td{
  transform: scale(.83);
}
p{
  display: inline-block;
}